/** Valmynd **/

nav {
  width: 100%;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing);
  list-style: none;
}

nav ul li {
  margin-bottom: calc(var(--spacing) / 2);
  text-align: left;
}

@media (width >= 800px) {
  nav ul {
    display: block;
  }
}
